doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Custom Objects List
    a(href="/update-cobj") Add to this table
    
    table
      tr
        th Name
        th Info
        th Bean Type
      each record in records
        tr
          td #{record.properties.name}
          td #{record.properties.info}
          td #{record.properties.bean_type}